/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

/* HEADER */
.header {
    height: 70px;
    width: 100%;
    background-color: white;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px -7px 14px black;

}

.nav-header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header ul li {
    height: 70px;
    list-style-type: none;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.header ul li a {
    color: black;
    text-decoration: none;
}

.header ul li:hover {
    border-bottom: 2px solid black;
}

.start {
    padding: 5px 15px;
    text-decoration: none;
    font-size: 0.8rem;
    background-color: rgba(21,110,255,1);
    border-color: rgba(21,110,255,1);
    color: white;
}

.start:hover {
    background-color: rgba(21,110,255,0.8);
    border-color: rgba(21,110,255,0.8);
}

.jumbotron {
    width: 100%;
    padding-top: 80px;
    background-color: rgba(180,208,231,255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
}

h1 {
    font-size: 3.8rem;
    padding-top: 40px;
    font-weight: 800;
}

.jumbo-container {
    display: flex;
    margin-bottom: -60px;
}

.text-title {
    width: 30%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.start-gratis {
    font-size: 0.85rem;
    text-decoration: none;
    padding: 7px 15px;
    background-color: rgba(21,110,255,1);
    border-color: rgba(21,110,255,1);
    color: white;
}

.start-gratis:hover {
    background-color: rgba(21,110,255,0.8);
    border-color: rgba(21,110,255,0.8);
}

.jumbo-container p {
    font-size: 0.80rem;
}

.text-title span i {
    font-size: 2.5rem;
    padding-top: 30px;
    padding-bottom: 10px;
}

.img.title {
    width: 70%;
    padding-top: 40px;
}

/* MAIN */

/* SECTION-1 */
.container-main {
    width: 50%;
    margin: 0 auto;
    padding-top: 150px;
}

h2 {
    font-size: 1.8rem;
}

.billing {
    list-style-type: none;
    display: flex;
    font-size: 0.9rem;
    padding: 30px 0 20px 0;
}

.billing li:last-child{
    margin-left: 20px;
}

.section-1 {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.col {
    width: calc(100% / 3 - (60px / 3));
    margin: 0 auto;
    border: 3px solid rgba(236, 236, 238, 1);
}

.title-card {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-bottom: 3px solid rgba(236, 236, 238, 1);
    font-size: 0.80rem;
}

.card {
    padding: 30px 20px 0 20px;
}

.card h3 {
    font-size: 1.3rem;
    padding-bottom: 15px;
}

.card span {
    font-size: 0.7rem;
    padding-bottom: 15px;
}

.card .grey {
    color: grey;
    padding: 8px 0 40px 0;
}

.card ul {
    list-style-type: none;
    padding-bottom: 20px;
}

.card ul li {
    display: flex;
}

.card ul li i {
    padding-top: 2px;
    padding-right: 5px;
    font-size: 0.7rem;
}

.card p {
    font-size: 0.7rem;
    padding-bottom: 15px;
}

.days-30 {
    font-size: 0.75rem;
    text-decoration: none;
    padding: 7px 15px;
    background-color: rgba(21,110,255,1);
    border-color: rgba(21,110,255,1);
    color: white;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.days-30:hover {
    background-color: rgba(21,110,255,0.8);
    border-color: rgba(21,110,255,0.8);
}

.card .buy {
    padding-top: 30px;
}

.card .blue {
    color: rgba(58, 62, 241, 1);
}

.card-hr {
    /* border-radius: 1px solid grey; */
    width: 40px;
    margin: 20px 0 30px 0;
}

.card h4 {
    font-size: 0.7rem;
    padding-bottom: 20px;
}

.card .check i {
    color: rgba(21,110,255,255);
    font-size: 0.8rem;
}

.row {
    width: 100%;
    margin: 0 auto;
    border: 3px solid rgba(236, 236, 238, 1);
}

.card-row {
    padding: 30px 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-row {
    /* width: calc(100% / 3 - (40px / 3)); */
    width: 73%;
    margin: 0 auto;
}

.col-row h3 {
    font-size: 1.3rem;
    padding-bottom: 15px;
}

.col-row span {
    font-size: 0.7rem;
    padding-bottom: 15px;
}

.col-row p {
    font-size: 0.7rem;
    padding: 40px 0 15px 0;
}

.col-button {
    width: 27%;
    margin: 0 auto;
}

.contact {
    font-size: 0.75rem;
    text-decoration: none;
    padding: 7px 15px;
    background-color: rgba(21,110,255,1);
    border-color: rgba(21,110,255,1);
    color: white;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.contact:hover {
    background-color: rgba(21,110,255,0.8);
    border-color: rgba(21,110,255,0.8);
}

/* SECTION-2 */
.section-2 {
    display: flex;
    padding-bottom: 20px;
    padding-top: 100px;
    gap: 30px;
}

.section-2 .col-img {
    width: 65%;
    margin: 0 auto;
}

.section-2 .col-partner {
    width: 35%;
    margin: 0 auto;
    padding-top: 40px;
}

.col-partner h3 {
    font-size: 1.3rem;
    padding-bottom: 15px;
}

.col-partner p {
    font-size: 0.85rem;
    padding-bottom: 20px;
}

.button-partner {
    font-size: 0.75rem;
    text-decoration: none;
    padding: 7px 15px;
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 100%;
    /* display: inline-block; */
    /* text-align: center; */
}

.button-partner:hover {
    color: rgba(0, 0, 0, 0.5);
}

/* SECTION-3 */
.section-3 {
    padding-top: 100px;
    /* display: flex;
    flex-wrap: wrap;
    gap: 30px; */
}

.grid {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.col-2 {
    width: calc(100% / 3 - (60px / 3));
    margin: 0 auto;
}

.col-2 h3 {
    font-size: 1.3rem;
    padding-bottom: 20px;
}

.col-2 p {
    font-size: 0.80rem;
    padding-bottom: 20px;
}

/* SECTION-4 */
.about {
    padding: 100px 0;
    width: 60%;
}

.about h2 {
    padding-bottom: 50px;
}

.blue-2 {
    font-size: 0.7rem;
    color: rgba(58, 62, 241, 1);
}

/* SECTION-5 */
.section-5 {
    width: 100%;
    /* height: 700px; */
    background-color: rgba(180, 208, 231, 1);
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.company {
    width: calc(100% / 3);
    margin: 0 auto;
    /* height: 500px; */
    height: calc(100vw / 3);
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    flex-wrap: wrap;
}

.company img {
    filter: invert(100);
    width: 50%;
}

.company .box1 {
    height: 50%;
    width: 50%;
    background-color: rgba(162, 211, 155, 1);
    border: 15px solid rgba(209, 233, 205, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(../img/designit.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10rem; */
}

.company .box2 {
    height: 50%;
    width: 50%;
    background-color: rgba(97, 8, 43, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.company .box3 {
    height: 50%;
    width: 50%;
    background-color: rgba(0, 147, 206, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.company .box4 {
    height: 50%;
    width: 50%;
    background-color: rgba(255, 28, 28, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.company .box5 {
    height: 50%;
    width: 50%;
    background-color: rgba(213, 0, 31, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.company .box6 {
    height: 50%;
    width: 50%;
    background-color: rgba(180, 208, 231, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.company .box7 {
    height: 50%;
    width: 50%;
    background-color: rgba(13, 36, 129, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.company .box8 {
    height: 50%;
    width: 50%;
    background-color: rgba(255, 216, 48, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll {
    /* height: 500px; */
    height: calc(100vw / 3);
    overflow: auto;
    padding: 40px;
    display: inline-block;
}

.scroll img {
    filter: invert(0);
}

.hr-designit {
    width: 80px;
    color: grey;
    margin: 30px 0;
    /* border-radius: 1px solid grey; */
    /* margin: 20px 0 30px 0; */
}

.company p {
    font-size: 0.80rem;
    padding-bottom: 25px;
}

.row-box {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.col-row-box {
    width: calc(100% / 2);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.col-row-box h2 {
    padding: 85px 0;
    color: rgba(97, 8, 43, 1);
}

.button-col-row-box {
    font-size: 0.75rem;
    text-decoration: none;
    padding: 7px 15px;
    background-color: white;
    border-color: white;
    color: black;
    width: 60%;
    display: inline-block;
    text-align: center;
    margin-bottom: 40px;
}

.button-col-row-box:hover {
    color: rgba(0, 0, 0, 0.5);
}

/* SECTION 6 */
.section-6 {
    padding-bottom: 100px;
    margin-top: -50px;
}

.section-6 h2 {
    padding-bottom: 50px;
}

.questions {
    color: grey;
    width: 100%;
}

.advanced {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.advanced h5 {
    padding: 30px 0;
    font-size: 0.75rem;
}

.advanced i {
    position: absolute;
    top: 30px;
    left: 95%;
}

.advanced p {
    display: none;
    font-size: 0.7rem;
    padding-bottom: 30px;
}

.advanced:hover p {
    display: block;
}

.advanced:hover i {
    rotate: 180deg;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 60%;
    display: flex;
}

.col-footer {
    width: calc(100% / 5);
    margin: 0 auto;
}

.col-footer h3 {
    color: white;
    padding: 50px 0 20px 0;
    font-size: 1rem;
}

.col-footer li {
    padding: 4px 0;
}

.col-footer li a {
    color: white;
    text-decoration: none;
    font-size: 0.7rem;
}

.hr-footer {
    margin: 70px 0 35px 0;
    width: 90px;
}

.col-footer p {
    color: white;
    font-size: 0.8rem;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 77px;
}